---
import Layout from "../layouts/Layout.astro";
import { AdminPanelPage } from "../components/admin/AdminPanelPage";
---

<Layout title="Panel Admina - Discord Wannabe">
  <main class="min-h-screen bg-background">
    <div class="container mx-auto p-6">
      <AdminPanelPage client:load />
    </div>
  </main>
</Layout>
