---
import Layout from "../layouts/Layout.astro";
import { ServersDashboardPage } from "../components/servers/ServersDashboardPage";
---

<Layout title="Serwery - Discord Wannabe">
  <main class="min-h-screen bg-background">
    <div class="container mx-auto p-6">
      <ServersDashboardPage client:load />
    </div>
  </main>
</Layout>
