---
import Layout from "../../layouts/Layout.astro";
import { ChatVoicePage } from "../../components/rooms/ChatVoicePage";

const { inviteLink } = Astro.params;
const url = new URL(Astro.request.url);
const view = url.searchParams.get("view") || "chat";
const initialUsername = Astro.locals.username || null;
const initialProfile = Astro.locals.profile || (initialUsername ? { username: initialUsername } : null);
---

<Layout title="Pokój - Discord Wannabe">
  <main class="min-h-screen bg-background">
    <ChatVoicePage client:load inviteLink={inviteLink} view={view} initialUsername={initialUsername} initialProfile={initialProfile} />
  </main>
</Layout>
