---
import Layout from "../../layouts/Layout.astro";
import { ServerDetailPage } from "../../components/servers/ServerDetailPage";

const { inviteLink } = Astro.params;
---

<Layout title="Serwer - Discord Wannabe">
  <main class="min-h-screen bg-background">
    <div class="container mx-auto p-6">
      <ServerDetailPage client:load inviteLink={inviteLink} />
    </div>
  </main>
</Layout>
